out/*.aux
out/*.bbl
out/*.blg
out/*.fls
out/*.log
out/*.out
out/*.toc
out/*.synctex.gz
.DS_Store
.idea/
out/

# Common build-artefact baseline
**/.DS_Store
.venv/
pdfs/
media/
**/__pycache__/
*.py[cod]
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
